<!DOCTYPE html>
<html lang="en">
  <head>
      <script data-ad-client="ca-pub-8017529756196189" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:1px solid gainsboro">
    <a class="navbar-brand" href="/"><b>Beer Prices</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/on-sale" style="color:gray">On Sale</a>
        </li>
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link" href="#">Sign up</a>-->
        <!--</li>-->
      </ul>
    
    <form class="form-inline my-2 my-lg-0" type="get" action="/search" style="margin: 0">
        <input style="width: 700px;" class="form-control mr-sm-2" id="search_box" value="{{query}}" type="search" name="search_box"  placeholder="Enter keywords to find products" >
        <button class="btn btn-outline-secondary my-2 my-sm-0" id="search_submit" type="submit" >Search</button>
    </form>
    </div>
  </nav>
  <div class="container" style='padding-top:15px'>
    {% block content %}
    {% endblock %}
    <footer style="text-align:center;margin-top: 10em;padding-top: 1em;padding-bottom: 2em;border-top: 1px solid #e1e1e1;">
      <div style="font-size:10pt;color:gray">
        <b>Prian Kuhanandan</b>
        <div>Not affiliated with <i>Brewers Retail Inc. (The Beer Store)</i></div>
      </div>
    </footer>
  </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
