{% extends 'base.html' %}

{% load general %}

{% block title %}Beers | {{ category }} - {{ size }}{% endblock %}

{% block content %}

<style>
  .beer:hover {
    background-color: #e2e2e2;
    cursor:pointer;
    border-radius: 15px;
  }
  
  .beer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

  a.nostyle:visited {
      text-decoration: inherit;
      color: inherit;
  }
  .col-xs-5ths,
  .col-sm-5ths,
  .col-md-5ths,
  .col-lg-5ths {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  
  .col-xs-5ths {
      width: 20%;
      float: left;
  }
  
  @media (min-width: 768px) {
      .col-sm-5ths {
          width: 20%;
          float: left;
      }
  }
  
  @media (min-width: 992px) {
      .col-md-5ths {
          width: 20%;
          float: left;
      }
  }
  
  @media (min-width: 1200px) {
      .col-lg-5ths {
          width: 20%;
          float: left;
      }
  }
    a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
    a.btn:hover { border-radius: .25rem; }

  div.beer:hover {
      background-color: gainsboro;
      transition: 0.3s;
  }
</style>

<div class='row'>
    <h2>Beers</h2>
</div>
<div class='row'>
    Find beers sorted by price per volume.
</div>
<div class='row' style="margin-bottom:25px">
    <span style="padding-right:10px">
      <b>Size:&nbsp;</b>
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ size }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for new_size in sizes %}
              <a class="dropdown-item" href="/all-beers?category={{ category }}&size={{ new_size }}&sort={{ sort }}">{{ new_size }}</a>
            {% endfor %}
        </ul>
      </div>
    </span>
    <span style="padding-left:10px">
      <b>Category:&nbsp;</b>
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ category }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for new_cat in categories %}
              <a class="dropdown-item" href="/all-beers?category={{ new_cat }}&size={{ size }}&sort={{ sort }}">{{ new_cat }}</a>
            {% endfor %}
        </ul>
      </div>
    </span>
    <span style="padding-left:10px">
      <b>Sort by:&nbsp;</b>
      <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ sort_name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/all-beers?category={{ category }}&size={{ size }}&sort=price_per_100ml">$/100ml</a>
          <a class="dropdown-item" href="/all-beers?category={{ category }}&size={{ size }}&sort=price_per_abv">$/etOH (alcohol content)</a>
        </ul>
      </div>
    </span>
</div>
<div class="pagination" style="margin-bottom: 10px;">
        <span class="step-links" style="margin-left: auto;margin-right: 0;text-align: right">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm">next</a>
            {% endif %}
            <div style="text-align: right">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>

        </span>
</div>


<div class="row">
    {% for beer in page_obj %}
      <div class="col-md-6">
          <a class='nostyle' href='/beer_prices/{{beer.beer_id}}'>
            <div class="row beer" style="padding-top: 10px;bottom: 10px;">
              <div class='col-4'>
                <img style="width: 100%;height: 100%;object-fit:contain;border-radius: 15px;border: solid Gainsboro 1px;" src="{{ beer.image_url }}">
              </div>
              <div class='col-8'>
                <div><b style='font-size: 14pt;'>{{ beer.name }}</b></div>
                {%  if sort == "price_per_abv" %}
                    <b> ${{beer.price_per_abv|floatformat:2}}</b>/10ml of etOH
                {% else %}
                    <b> ${{beer.price_per_100ml|floatformat:2}}</b>/100ml
                {% endif %}
                <div style="font-size:10pt">{{ beer.size }}<span style='color:gray;font-size:10pt'></span> - ${{beer.current_price}}</div>
                {% if beer.on_sale %}
                  <span><b style="color: red">On Sale!</b></span>
                {% endif %}
              </div>
            </div>
          </a>
      </div>
    {% endfor %}
</div>

<div class="pagination" style="justify-content: center;margin-top: 25px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-dark">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">previous</a>
        {% endif %}

        <span class="current" style="padding:20px">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>

</script>
{% endblock %}
