{% extends 'base.html' %}

{% block title %}{{ params.name }}{% endblock %}

{% block content %}
<style>
  a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

  a.nostyle:visited {
      text-decoration: inherit;
      color: inherit;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<div class="row">
  <div class="col-lg-4" >
    <div><img style="width: 100%;height: 100%;object-fit:contain;" src="{{ params.image_url }}"></div>
    <div style="font-size: 20pt">{{ params.brewer }}</div>
    <div><b>Country:</b> {{ params.country }}</div>
    <div><b>Category:</b> {{ params.category }}</div>
    <div><b>Alcohol Content (ABV):</b> {{ params.abv }}</div>
  </div>
  <div class="col-lg-8">
    <a class='nostyle' href='/beer_prices/{{params.beer_id}}'><h1>{{ params.name }}</h1></a>
    <h4 style="color:gray">{{ params.size }}</h4>
    <div style="font-size: 14pt;">
      <b>Price:</b> ${{params.current_price}} 
      {% if params.on_sale %}
        <span><b style="color: red">On Sale!</b></span>
      {% endif %}
      <div style='color:gray;font-size:12pt'>${{params.price_per_100ml|floatformat:2}}/100ml</div> 
      <div style='color:gray;font-size:12pt'>${{params.price_per_abv|floatformat:2}}/10ml of EtOH </div>
    </div>    
    <div style='text-align:center;padding-top:20px'><h5>Price History</h5></div>
    <canvas id="myChart" ></canvas>
    <input type="hidden" id="myData" name="variable" value="{{ params.prices }}">
  </div>
</div>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      
      // The data for our dataset
      data: {
          datasets: [{
              label: '',
              backgroundColor: 'rgb(255, 255, 255, 0)',
              borderColor: 'rgb(255, 99, 132)',
              data: JSON.parse(document.getElementById("myData").value)
          }]
      },
  
      // Configuration options go here
      options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                  unit: 'day',
                  displayFormats: {
                     'day': 'MMM DD',
                  },
                  tooltipFormat:'MMM DD'
                }
            }]
        },
        legend: {
          display: false,
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItems, data) {
              return "$" + tooltipItems.yLabel.toFixed(2).toString();
            }
          }
        }
    }
  });
</script>
{% endblock %}
